<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1>{{message}}</h1>
        <ul>
            {{#each products}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </body>
</html>